{% load static %}

<!-- START: ChatRoom List Section -->
<div class="container mx-auto px-4 py-2 max-w-4xl">

    {% include "chat/home/header_home_chat_list.html" %}
    
    <div id="user-list" class="grid grid-cols-1 md:grid-cols-2 gap-1">
    {% for room in rooms %}
        
        <!-- Private Room -->
        {% if room.is_private %}
        <!-- ChatRoom Item -->
        <div class="relative bg-slate-700 p-4 rounded-lg shadow-md flex items-center justify-between">
            
            <a href="{% url "chatroom" room.uid %}">
                <div class="flex items-center space-x-4">
                    <img src="{{ room.second_user.profile.avatar.url }}" alt="User Avatar" class="w-12 h-12 rounded-full">
                    <div>
                        <p class="text-lg font-semibold text-gray-200">{{ room.second_user.profile.full_name }}</p>
                        <!-- user online status  -->
                        <p class="text-sm text-gray-400">
                            {% if room.second_user.profile.is_online %}
                                Online
                            {% else %}
                                active {{ room.second_user.profile.last_seen|timesince }} ago 
                            {% endif %}
                        </p>
                    </div>
                </div>
            </a>
            
            <!-- Three-dot Menu -->
            <div class="relative">
                <button class="three-dot-btn focus:outline-none" data-index="0">
                    <svg class="w-6 h-6 text-gray-300" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6h.01M12 12h.01M12 18h.01"></path>
                    </svg>
                </button>
                <div class="user-menu absolute right-0 mt-0 w-32 bg-slate-600 border border-slate-600 rounded-md shadow-lg">
                    <a href="{% url "profile" room.second_user %}" class="block px-4 py-2 text-sm text-gray-300 hover:bg-slate-600">View Profile</a>
                    <!-- <a href="#" class="block px-4 py-2 text-sm text-gray-300 hover:bg-slate-600">Mark as Read</a> -->
                    <!-- <a href="#" class="block px-4 py-2 text-sm text-gray-300 hover:bg-slate-600">Delete</a> -->
                </div>
            </div>
            <!-- END: Three-dot Menu -->
        </div>
        <!-- END: ChatRoom Item -->

        <!-- Group Room -->
        {% else %}

        <!-- ChatRoom Item -->
        <div class="relative bg-slate-700 p-4 rounded-lg shadow-md flex items-center justify-between">
            
            <a href="{% url "chatroom" room.uid %}" class="">
                <div class="flex items-center space-x-4">
                    <img src="{{ room.avatar.url }}" alt="User Avatar" class="w-12 h-12 rounded-full border-1 border-teal-400">
                    <div>
                        <p class="text-lg font-semibold text-gray-300">{{ room.name }}</p>
                        <p class="text-sm text-gray-400">{{ room.member_count }} member | Online</p>
                    </div>
                </div>
            </a>
            
            <!-- Three-dot Menu -->
            <div class="relative">
                <button class="three-dot-btn focus:outline-none" data-index="0">
                    <svg class="w-6 h-6 text-gray-300" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6h.01M12 12h.01M12 18h.01"></path>
                    </svg>
                </button>
                <div class="user-menu absolute right-0 mt-2 w-32 bg-slate-700 border border-slate-600 rounded-md shadow-lg">
                    <a href="{% url "group_profile" room.uid %}" class="block px-4 py-2 text-sm text-gray-300 hover:bg-slate-600">Open Profile</a>
                    <!-- <a href="#" class="block px-4 py-2 text-sm text-gray-300 hover:bg-slate-600">Mark as Read</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-300 hover:bg-slate-600">Delete</a> -->
                </div>
            </div>
            <!-- END: Three-dot Menu -->
        </div>
        <!-- END: ChatRoom Item -->
        {% endif %}
    {% endfor %}

    </div>
</div>
<!-- END: ChatRoom List Section -->

{% include "chat/home/home_search_modal.html" %}