{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Chat - Chatty</title>
  <link rel="stylesheet" href="{% static 'chat/css/tailwind.css' %}">

</head>
<body class="bg-slate-800 text-white h-screen flex flex-col">

    {% block content %}
    {% endblock %}

  <!-- uid for chat_socket.js and username for chat_text_msg_html.js -->
  {{ chat_room.uid|json_script:"chat_room_uid" }} <!-- Called from chat_socket.js -->
  {{ request.user.username|json_script:"current_user_name" }} <!-- Called from chat_text_msg.js -->
  
  <script src="{% static 'chat/js/chatroom/chat_socket.js' %}"></script>
  <script src="{% static 'chat/js/chatroom/chat_text_msg_html.js' %}"></script>
  <script src="{% static 'chat/js/chatroom/chat_script.js' %}"></script>

</body>
</html>