{% load static %}

<!-- START: Messages Section -->
<main id="chat-box" class="flex-1 overflow-y-auto p-4 space-y-2" style="margin-top: 55px; margin-bottom: 70px;">
{% for message in chat_messages reversed %}

    {% if message.author == request.user %}
    <div class="flex items-start space-x-1 justify-end">
    {% else %}
    <div class="flex items-start space-x-1">
        <img src="{{ message.author.profile.avatar.url }}" alt="User" class="w-8 h-8 rounded-full" />
    {% endif %}

        <div class="relative bg-slate-700 p-3 rounded-lg max-w-[60vw]">
        <div class="flex items-center justify-between">
            <p class="text-sm font-medium">{{ message.author.profile.full_name }}</p>
            <span class="text-xs text-gray-400">{{ message.timestamp|date:"h:i A" }}</span>
        </div>
        
        {% if message.type == 'text' %}
            <p class="mt-1">{{ message.content }}</p>

        {% elif message.type == 'image' %}
            <img 
            src="{{ message.file.url }}" alt="Image" 
            class="mt-1 rounded-lg cursor-pointer" 
            onclick="viewMedia('{{ message.file.url }}')"/>

        {% elif message.type == 'video' %}
            <video src="{{ message.file.url }}" controls 
                class="mt-1 rounded-lg cursor-pointer"
                onclick="viewMedia('{{ message.file.url }}')">
            </video>
        
        {% elif message.type == 'file' %}
            <a href="{{ message.file.url }}" download class="block bg-gray-800 text-white p-2 rounded-lg mt-1 underline break-words">
                <img class="max-h-[30px] place-self-center" src="{% static 'chat/icons/download.png' %}" alt="download">
                {{ message.filename }}
            </a>
        {% endif %}

        <!-- Hover Menu -->
        <div class="message-menu hidden absolute top-0 right-0 mt-1 mr-1 bg-gray-800 text-sm text-white rounded shadow-md">
            <button class="p-1">Reply</button>
            <button class="p-1">Edit</button>
            <button class="p-1">Delete</button>
        </div>

        </div>
    </div>

{% endfor %}

<!-- Delivered Status (Centered) -->
<div class="flex justify-center mt-4">
    <span class="text-xs flex items-center space-x-1">
    <img src="{% static 'chat/icons/delivered.png' %}" alt="" class="w-5 h-5" />
    <span>Delivered</span>
    </span>
</div>

</main>
<!-- END: Messages Section -->

<!-- Floating Scroll Button -->
<button 
    id="scroll-down-btn" 
    class="hidden fixed bottom-20 left-1/2 transform -translate-x-1/2 bg-slate-700 hover:bg-gray-600 text-white py-2 px-4 rounded-full shadow-lg focus:outline-none"
    onclick="scrollToBottom()"
>
    ↓ Scroll Down
</button>