{% load static %}

<!-- START: Chat Header Section -->
<header class="fixed top-0 w-full z-50 bg-slate-900 px-4 py-2 flex items-center justify-between">

{% if chat_room.is_private %}

    <a href="{% url "profile" chat_room.second_user %}" class="focus:outline-none">
        <div class="flex items-center space-x-3">
            <img src="{{ chat_room.second_user.profile.avatar.url }}" alt="Chat User" class="w-10 h-10 rounded-full" />
            <div>
                <p class="text-lg font-semibold">{{ chat_room.second_user.profile.full_name }}</p>
                
                <!-- user online status  -->
                <p id="user-{{ chat_room.second_user.username }}" class="text-sm text-gray-400">
                    {% if chat_room.second_user.profile.is_online %}
                    Online
                    {% else %}
                    active {{ chat_room.second_user.profile.last_seen|timesince }} ago 
                    {% endif %}
                </p>
            </div>
        </div>
    </a>
        
{% else %}

    <a href="{% url "group_profile" chat_room.uid %}" class="focus:outline-none">
        <div class="flex items-center space-x-3">
            <img src="{{ chat_room.avatar.url }}" alt="Chat User" class="w-10 h-10 rounded-full" />
            <div>
                <p class="text-lg font-semibold">{{ chat_room.name }}</p>
                <p class="text-sm text-gray-400">{{ chat_room.member_count }} member | Online</p>
            </div>
        </div>
    </a>

{% endif %}

<a href="{% url "home" %}" class="text-gray-400 hover:text-white focus:outline-none" title="Exit Chat">
    <img src="{% static 'chat/icons/exit_chat.png' %}" alt="Exit Chat" class="w-10 h-10">
</a>
</header>
<!-- END: Chat Header Section -->