{% load static %}

<div class="h-screen flex flex-col">
    {% include "chat/chatroom/chatroom_header.html" %}
    {% include "chat/chatroom/chatroom_body.html" %}
    {% include "chat/chatroom/chatroom_footer.html" %}

    <!-- uid for chat_socket.js and username for chat_text_msg_html.js -->
    {{ chat_room.uid|json_script:"chat_room_uid" }} <!-- Called from chat_socket.js -->
    {{ request.user.username|json_script:"current_user_name" }} <!-- Called from chat_text_msg.js -->
    
    <script src="{% static 'chat/js/chatroom/chat_socket.js' %}"></script>
    <script src="{% static 'chat/js/chatroom/chat_text_msg_html.js' %}"></script>
    <script src="{% static 'chat/js/chatroom/chat_script.js' %}"></script>
</div>