# Python-related
*.pyc
*.pyo
__pycache__

# Virtual environments
venv/
env/

# Django-related
*.log
*.pot
*.pyc
*.pyo

# IDE files
.vscode/

# Environment variables file (to avoid exposing sensitive data)
# .env
