{% load static %}

<!-- Start: User Details Content Section -->
<main class="container max-w-lg mx-auto px-4 my-5">

    <header class="flex items-center justify-between mb-4 px-3">
        <h2 class="text-xl font-semibold">Group Details</h2>
        <!-- Back Button -->
        <button 
            onclick="history.back()" 
            class="flex items-center space-x-2 text-white hover:text-blue-500 focus:outline-none">
            <img src="{% static 'chat/icons/back.png' %}" alt="" class="w-6 h-6 hover:text-blue-500">
            <!-- <span class="text-lg">Back</span> -->
        </button>
    </header>

    <!-- User Avatar and Name -->
    <div class="p-6 rounded-lg mb-6 flex flex-col items-center">
        <img src="{{ chat_group.avatar.url }}" alt="User Avatar" class="rounded-full bg-gray-600 mb-4" style="width: 200px; height: 200px;">
        <h2 class="text-2xl font-semibold">{{ chat_group.name }}</h2>
        <button onclick="openEditGroupModal()" class="bg-slate-700 px-4 font-bold rounded-lg mb-3 mt-1 hover:bg-blue-500">Edit</button>

        <!-- user online status  -->
        <p class="text-sm text-gray-400">{{ chat_group.member_count }} member | online</p>
        <!-- <hr style="border: none; height: 2px; background-color: rgb(227, 220, 225); width: 70%; margin-top: 20px;"> -->
    </div>


     <!-- Action Buttons -->
    <div class="space-y-3 max-w-sm mx-auto">
        <button id="add-member-btn" class="w-full px-4 py-2 bg-blue-500 hover:bg-blue-700 rounded-lg text-white font-medium">
            + Add Member
        </button>

        <button onclick="window.location.href = '/room/{{ chat_group.uid }}/'" class="w-full px-4 py-2 bg-slate-700 hover:bg-gray-600 rounded-lg text-white font-medium">
            View Messages
        </button>

        <button onclick="leaveGroup('{{ chat_group.uid }}')" class="w-full px-4 py-2 bg-slate-700 hover:bg-gray-600 rounded-lg text-white font-medium">
            Leave Group
        </button>

        {% if request.user == chat_group.admin %}
            <button onclick="deleteGroup('{{ chat_group.uid }}')" class="w-full px-4 py-2 bg-slate-700 hover:bg-gray-600 rounded-lg text-white font-medium">
                Delete Group
            </button>
        {% endif %}
    </div>

    {% include "chat/group/MemberList.html" %}
</main>
<!-- End: User Details Content Section -->

{% include "chat/group/AddMemberModal.html" %}
{% include "chat/group/UpdateGroupModal.html" %}
<script src="{% static 'chat/js/group/GroupScript.js' %}"></script>
