{% load static %}

<!-- Start: Login/Register Page Header Section -->
<header class="p-4 px-10 bg-slate-900 shadow flex justify-between items-center">
    <h1 class="text-2xl font-bold">Chatty</h1>
    
    <a href=""></a>
    <a href="{% url "login" %}" class="flex items-center space-x-2 text-sm font-medium hover:text-gray-300">
        <!-- User Icon -->
        <img src="{% static 'chat/icons/avatar.png' %}" alt="User Profile" class="w-10 h-10 rounded-full border-1 border-teal-400 cursor-pointer">
        <!-- <span>Login</span> -->
    </a>
    
</header>
<!-- End: Login/Register Page Header Section -->

