{% load static %}

<!-- START: Navbar Section -->
<nav class="bg-slate-900 shadow-md">
    <div class="container mx-auto px-4 py-3 flex items-center justify-between">

        <!-- Hamburger Icon -->
        <button id="menu-btn" class="focus:outline-none z-50">
            <svg id="hamburger-icon" class="w-6 h-6 text-gray-300" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>

        <!-- Project Name -->
        <a href="{% url "home" %}" class="text-2xl font-bold text-teal-400">Chatty</a>

        <!-- User Profile Icon -->
        <div class="relative">
            <img id="profile-btn" src="{% static 'chat/icons/avatar.png' %}" alt="User Profile" class="w-10 h-10 rounded-full border-1 border-teal-400 cursor-pointer">
            <!-- Profile Dropdown -->
            <div id="profile-dropdown" class="absolute right-0 mt-2 w-40 bg-slate-700 border border-slate-600 rounded-md hidden opacity-0 shadow-lg">
                
                {% if user.is_authenticated and user.is_staff %}
                    <a href="/admin/" class="block px-4 py-2 text-sm text-gray-300 bg-slate-600">Hello, {{ request.user.username }}</a>
                {% else %}
                    <p class="block px-4 py-2 text-sm text-gray-300 bg-slate-600">Hello, {{ request.user.username }}</p>
                {% endif %}
                
                <a href="#" class="block px-4 py-2 text-sm text-gray-300 hover:bg-slate-600">Your Profile</a>
                <a href="{% url "logout" %}" class="block px-4 py-2 text-sm text-gray-300 hover:bg-slate-600">Logout</a>
            </div>
        </div>
    </div>
</nav>

<!-- Overlay Mobile Menu -->
<div id="mobile-menu" class="fixed inset-0 bg-slate-800 bg-opacity-100 hidden opacity-0 z-40">
    <div class="flex flex-col items-center justify-center h-full space-y-8">
        <a href="#" class="text-2xl text-gray-300 hover:text-teal-400">Home</a>
        <a href="#" class="text-2xl text-gray-300 hover:text-teal-400">Chats</a>
        <a href="#" class="text-2xl text-gray-300 hover:text-teal-400">Profile</a>
        <a href="#" class="text-2xl text-gray-300 hover:text-teal-400">Settings</a>
        <a href="{% url "logout" %}" class="text-2xl text-gray-300 hover:text-teal-400">Logout</a>
    </div>
</div>
<!-- END: Navbar Section -->