{% load static %}

<!-- Start: Login/Register Page Header Section -->
<header class="p-4 px-10 bg-slate-900 shadow flex justify-between items-center">
    <div class="flex items-center space-x-1">
        <img src="{% static 'chat/icons/logo2.webp' %}" alt="User Profile" class="w-10 h-10 rounded-full border-1 border-teal-400">
        <h1 class="text-2xl font-bold">Poke</h1>
    </div>
    
    <a href="{% url "login" %}" class="flex items-center space-x-2 text-sm font-medium hover:text-gray-300">
        <!-- User Icon -->
        <span>Login</span>
    </a>
    
</header>
<!-- End: Login/Register Page Header Section -->


<!-- START: Register Section -->
<div class="container mx-auto px-4 py-16 flex items-center justify-center">
    <div class="w-full max-w-md bg-slate-700 rounded-lg shadow-lg p-8">

        <img src="{% static 'chat/icons/register.png' %}" alt="Login" class="w-24 h-24 mx-auto mb-6">
        <h2 class="text-2xl font-bold text-center text-teal-400 mb-4">Welcome to Poke!</h2>
        <h2 class="text-3xl font-bold text-center text-teal-400 mb-6">Register</h2>
        
        <form action="{% url "register" %}" method="POST">
            {% csrf_token %}

            <!-- Username Input -->
            <div class="mb-4">
                <label for="id_username" class="block text-sm font-medium text-gray-300">{{form.username.label }} *</label>
                {{ form.username }}
                <li class="text-sm mx-2 text-slate-400">Username can contain (letters, numbers, _ underscore)</li>
                <li class="text-sm mx-2 text-slate-400">Example: anwar_hosen12</li>
            </div>

            <!-- Full Name Input -->
            <div class="mb-4">
                <label for="id_fullname" class="block text-sm font-medium text-gray-300">{{ form.fullname.label }} *</label>
                {{ form.fullname }}
            </div>

            <!-- Email Input -->
            <div class="mb-4">
                <label for="id_email" class="block text-sm font-medium text-gray-300">{{ form.email.label }} *</label>
                {{ form.email }}
                <li class="text-sm mx-2 text-slate-400">Enter a valid email address</li>
                <li class="text-sm mx-2 text-slate-400">You won't be able to recover account without a valid email</li>
            </div>

            <!-- Password Input -->
            <div class="mb-6">
                <label for="id_password1" class="block text-sm font-medium text-gray-300">{{ form.password1.label }} *</label>
                {{ form.password1 }}
                <li class="text-sm mx-2 text-slate-400">Password should be at least 8 charecters</li>
                <li class="text-sm mx-2 text-slate-400">Make a strong password with letters, numbers and other chanrecters</li>
            </div>

            <!-- Confirm Password Input -->
            <div class="mb-6">
                <label for="id_password2" class="block text-sm font-medium text-gray-300">{{ form.password2.label }} *</label>
                {{ form.password2 }}
                <li class="text-sm mx-2 text-slate-400">Re-type the same password again for doubble check</li>
            </div>

            <!-- Submit Button -->
            <button type="submit" 
                    class="w-full bg-blue-500 hover:bg-slate-800 text-white font-semibold py-2 rounded-lg">
                Register
            </button>

            <!-- Additional Links -->
            <div class="mt-6 text-center">
                <p class="text-sm text-gray-400">Already have an account? 
                    <a href="{% url "login" %}" class="text-slate-100 hover:underline">Login here</a>
                </p>
            </div>
        </form>
    </div>
</div>
<!-- END: Register Section -->